<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Home Page";
}
@model string;

<div class="text-center">
    <h1>@Model</h1>
</div>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}
@model string;

<div class="text-center">
    <h1>@Model</h1>
</div>
>>>>>>> 1def53ab125148c20df1151b159c23eec6daecf7
