<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Home Page";
}
    <h1>Welcome</h1>

=======
﻿@{
    ViewData["Title"] = "Home Page";
}
    <h1>Welcome</h1>

>>>>>>> 1def53ab125148c20df1151b159c23eec6daecf7
